@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    position: relative;
}

section{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr{
    color: red;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #ffc72c;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #ffc72c;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.one{
    background-image: url('b_by_player1.jpg');
    background-size: cover;
    background-position: center;
}
.two{
    background-image: url('b_by_player2.jpg');
    background-size: cover;
    background-position: center;
}
.three{
    background-image: url('b_by_player3.jpg');
    background-size: cover;
    background-position: center;
}

.product-card{
    max-width: 15em;
    background-color: #fff;
    padding: 1em;
    box-shadow: 5px 5px 20px black;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5%; 
}

.product-card img{
    max-width: 100%;
}

.product-card h4{
    font-size: 1.3em;
    margin: 0.5em 0;
}

.product-card p{
    font-size: 1em;
}

.product-card div{
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card button{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
}

.product-card:hover{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.product-card:hover button{
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 576px){
    .product-card{
        font-size: 0.9em;
    }
}
footer{
    background-color: #070F2B;
}
.footerContainer{
    width: 100%;
    padding: 30px 20px 20px 20px ;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 100%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:#ffc72c;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    background-color: black;
    padding: 18px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}