@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    position: relative;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.hr{
    color: red;
}

.one{
    background-color: #535C91;
    background-size: cover;
    background-position: center;  
    height: 75vh;
    /* display: flex;
    flex-direction: column;
    align-items: center;*/
}
.two{
    background-color: #535C91;
    background-size: cover;
    background-position: center;
    height: 75vh;
}
.three{
    background-color: #535C91;
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.product-card{
    max-width: 15em;
    background-color: #fff;
    padding: 1em;
    box-shadow: 5px 5px 20px black;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5%; 
}

.product-card img{
    max-width: 100%;
}

.product-card h4{
    font-size: 1.3em;
    margin: 0.5em 0;
}

.product-card p{
    font-size: 1em;
}

.product-card div{
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card button{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
}

.product-card:hover{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.product-card:hover button{
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 576px){
    .product-card{
        font-size: 0.9em;
    }
}

.banner-card{
    position: relative; /* Menambahkan posisi relatif untuk kontainer */
    flex-direction: column;
    max-width: 30em;
    background-color: #fff;
    padding: 1em;
    box-shadow: 5px 5px 20px black;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5%; 
}

.banner-card img {
    max-width: 100%; /* Menyesuaikan lebar gambar sesuai dengan lebar kartu */
    max-height: 200px; /* Menetapkan tinggi maksimum gambar, ubah nilai sesuai kebutuhan */
    margin: auto;
    display: block;
}

.banner-card h4{
    font-size: 2.5em;
    text-align: center;
    margin: 0.5em 0;
    position: absolute; /* Menambahkan posisi absolut */
    top: 50%; /* Menempatkan teks di tengah vertikal */
    left: 50%; /* Menempatkan teks di tengah horizontal */
    transform: translate(-50%, -50%); /* Menyesuaikan posisi teks */
    color: #ffc72c; /* Menyesuaikan warna teks */
}

.banner-card:hover{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
