@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.card-menu {
    display: flex;
}

.card {
    height: 350px;
    width: 350px;
    margin: 25px 50px 50px 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
    border-radius: 5%;
    padding: 2em;
}

img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: .5s;
}

.intro {
    height: 70px;
    width: 100%;
    bottom: -55px; 
    padding: 2px;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    color: #070F2B;
    transition: .5s;
    transform: translate(-50%, -50%); 
    left: 50%; 
}

h1 {
    margin: 10px;
    font-size: 30px;
}

.warna p {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

span {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
    background: #1D428A;
}

.card:hover .intro {
    height: 130px;
    bottom: -75px; 
    background: rgba(0, 0, 0, 0.5);
}

.card:hover h1 {
    color: white;
}

.card:hover p {
    opacity: 1;
    visibility: visible;
    color: white;
}

.card:hover img {
    transform: scale(1.1);
}

.warna{
    color:#fff; 
}

.judul{
    text-align: center;
}

.judul h1{
    font-size: 40px;
    color: #070F2B;
    text-align: center;
}

.container {
    position: relative;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    background-color: #070F2B;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.two{
    display: flex;
    flex-direction: column;
    background-color: white;
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 73vh;
    align-items: center;
}
.three {
    background-color: white;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65vh;
}

.three .judul {
    text-align: center;
    margin-bottom: 20px;
}

.roster-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.roster-card {
    max-width: 15em;
    background-color: white;
    padding: 1em;
    box-shadow: 5px 5px 20px black;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5%; 
    color: #070F2B;
}

.roster-card img {
    max-width: 100%;
    border-radius: 5%;
    padding: 0.7em;
    height: auto;
}

.roster-card h4{
    font-size: 1.3em;
    margin: 0.5em 0;
}

.roster-card p{
    font-size: 1em;
}

.roster-card div{
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roster-card:hover {
    background: #1D428A;
    color: #fff;
}

.roster-card:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 576px) {
    .roster-card {
        font-size: 0.9em;
    }
}

.gallery{
    display: flex;
    justify-content: center;

    gap: 1rem;
    width: 45rem;
}

.gallery-card{
    position: relative;
    left: 0;
    width: 3rem;
    border-radius: 5rem;

    height: 25rem;
    overflow: hidden;
    transition: .4s ease-in-out;

    box-shadow: 0 5 12px rgba(0, 0, 0, .3);
    flex: .15;
}

.gallery-card img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-card:hover{
    flex: 1 1 0;
    cursor: pointer;
    border-radius: 1rem;
}