@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.card-menu {
    display: flex;
}

.card {
    height: 350px;
    width: 350px;
    margin: 25px 50px 50px 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 3px;
    transition: .5s;
}

.intro {
    height: 70px;
    width: 100%; 
    bottom: 0; 
    padding: 5px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(27, 27, 27, 0.5);
    color: white;
    transition: .5s;
}

h1 {
    margin: 10px;
    font-size: 40px;
}

.judul{
    text-align: center;
}

.judul h1{
    font-size: 50px;
    color: rebeccapurple;
    text-align: center;
}

.warna p {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}

span {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 150px;
    bottom: 0px; 
    background: rgba(0, 0, 0, 0.5);
}

.card:hover p {
    opacity: 1;
    visibility: visible;
}

.card:hover img {
    transform: scale(1.1) rotate(-3deg);
}

.warna{
    color:#fff; 
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.container {
    position: relative;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    background-color: blue;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}
.two{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    background-size: cover;
    background-position: center;
    justify-content: center;
    height: 78vh;
    align-items: center;
}
.three {
    background-color: blanchedalmond;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}

.three .judul {
    text-align: center;
    margin-bottom: 20px;
}

.roster-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.roster-card {
    max-width: 15em;
    background-color: #fff;
    padding: 1em;
    box-shadow: 5px 5px 20px black;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px; 
}

.roster-card img {
    max-width: 100%;
    height: auto;
}

.roster-card h4{
    font-size: 1.3em;
    margin: 0.5em 0;
}

.roster-card p{
    font-size: 1em;
}

.roster-card div{
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.roster-card:hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

@media screen and (max-width: 576px) {
    .roster-card {
        font-size: 0.9em;
    }
}

.gallery{
    display: flex;
    justify-content: center;

    gap: 1rem;
    width: 45rem;
}

.gallery-card{
    position: relative;
    left: 0;
    width: 3rem;
    border-radius: 5rem;

    height: 25rem;
    overflow: hidden;
    transition: .4s ease-in-out;

    box-shadow: 0 5 12px rgba(0, 0, 0, .3);
    flex: .15;
}

.gallery-card img{
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gallery-card:hover{
    flex: 1 1 0;
    cursor: pointer;
    border-radius: 1rem;
}