@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container {
    position: relative;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one{
    background-color: #535C91;
    background-size: cover;
    background-position: center;
}

.product-card{
    max-width: 15em;
    background-color: #fff;
    padding: 1em;
    box-shadow: 5px 5px 20px black;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
    margin-left: 20px;
    border-radius: 5%;
}

.product-card img{
    max-width: 100%;
}

.product-card h4{
    font-size: 1.3em;
    margin: 0.5em 0;
}

.product-card p{
    font-size: 1em;
}

.product-card div{
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card button{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    font-size: 1em;
}

.product-card:hover{
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.product-card:hover button{
    color: #000;
    background-color: #fff;
}

@media screen and (max-width: 576px){
    .product-card{
        font-size: 0.9em;
    }
}
