body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url('b_home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  background-color: #ffffc781;
  color: #000000;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px; 
}

nav {
  background-color: #21468f7e;
  color: #000000;
  padding: 10px;
  text-align: center;
  
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

main {
  padding: 20px;
  background-color: #ffffff82;
  color: #000000;
}

footer {
  background-color: #ffffc781;
  color: #000000;
  padding: 10px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}